asgiref
astroid
async-timeout
attrs
autobahn
Automat
autopep8
beautifulsoup4
bleach
certifi
cffi
channels
channels-redis
charset-normalizer
colorama
constantly
crispy-bootstrap5
cryptography
daphne
dill
Django
django-bootstrap-v5
django-concurrency
django-crispy-forms
django-filter
django-guardian
django-htmx
django-stubs
django-stubs-ext
django-summernote
djangorestframework
docker
flake8
html5lib
hyperlink
idna
incremental
isort
lazy-object-proxy
Markdown
mccabe
msgpack
mypy
mypy-extensions
mysqlclient
packaging
Pillow
platformdirs
pyasn1
pyasn1-modules
pycodestyle
pycparser
pyflakes
Pygments
pylint
pylint-django
pylint-plugin-utils
pyOpenSSL
python-dateutil
pytz
# pywin32
PyYAML
reactivex
redis
requests
service-identity
six
soupsieve
sqlparse
tomlkit
tr0nz0d
Twisted
# twisted-iocpsupport
txaio
types-Pillow
types-pytz
types-PyYAML
types-requests
types-urllib3
typing_extensions
tzdata
uritemplate
urllib3
webencodings
websocket-client
wrapt
zope.interface